@tailwind base;
@tailwind components;
@tailwind utilities;

<<<<<<< HEAD:src/mainTailwind.css

::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background: rgb(135 121 181 / 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background: #65BAFA; /* fallback for old browsers /
    background: -webkit-linear-gradient(to right, #d31027, #ea384d); / Chrome 10-25, Safari 5.1-6 /
    background: linear-gradient(to right, #d31027, #ea384d); / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 30px;

  }

=======
.scroll {
    --scrollbar-thumb: #65BAFA !important;
    --scrollbar-track: rgb(135 121 181 / 0.1) !important;
    scrollbar-width: thin;
    --scrollbar-track: initial;
    --scrollbar-thumb: initial;
    --scrollbar-corner: initial;
    --scrollbar-track-hover: var(--scrollbar-track);
    --scrollbar-thumb-hover: var(--scrollbar-thumb);
    --scrollbar-corner-hover: var(--scrollbar-corner);
    --scrollbar-track-active: var(--scrollbar-track-hover);
    --scrollbar-thumb-active: var(--scrollbar-thumb-hover);
    --scrollbar-corner-active: var(--scrollbar-corner-hover);
    scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
    overflow: overlay;
}
>>>>>>> gabriel:src/styles/mainTailwind.css
